body{

 background-color: #ddfffb;
 margin: 0px;
}
div{
  margin: auto;
}
#banner {
  display: block;
margin-left: auto;
margin-right: auto;
width: 981px;
height: 100%;

}


.navbar {
  overflow: hidden;
  background-color: #dbffc1;
  width: 981px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: pink;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#jb-container {
      background-color: #c9ffee;
       width: 940px;
       margin: 0px auto;
       padding: 20px;
       border: 1px solid #bcbcbc;
     }
     #jb-header {
       padding: 20px;
       margin-bottom: 10px;
       border: 1px solid #bcbcbc;
       background-image: url("pic/hihi.jpg");
       background-size:100%;
       background-repeat: no-repeat;


     }
     #jb-sidebar-left {

       weight:800px;
       padding: 20px;
       margin-right: 20px;
       margin-bottom: 20px;
       float: left;
       background-color: pink;
       border: 1px solid #bcbcbc;
     }
     #jb-content {
       width: 450px;
       padding: 20px;
       margin-bottom: 20px;
       float: left;
       border: 1px solid #bcbcbc;
     }
     #jb-sidebar-right {
       weight:800px;
       padding: 20px;
       margin-right: 20px;
       margin-bottom: 20px;
       float: right;
       background-color: pink;
       border: 1px solid #bcbcbc;
     }
     #jb-footer {
       clear: both;
       padding: 20px;
       border: 1px solid #bcbcbc;
     }
